body {
    "background-color: antiquewhite;
}


h1 {
    color: crimson;
    text-align: center;
    background-color: gray;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

div {
    background-color: #0f0f0f0f;
    width: auto;
    padding: 50px;
}
div2 {
    background-color: whitesmoke;
    width: auto;
    padding: 20px;

}

button {
    color: whitesmoke;
    background-color: crimson;
    width: 200px;
    padding: 30px;


}

a {
    color: whitesmoke;
    background-color: crimson;
    width: 200px;
    padding: 30px;
    border: black;
}
